<!--첫 화면 페이지 입니다 -->
<!-- Home Section -->

<section class="home-section" id="home">
    <div class="js-height-full">
        <!-- Hero Content -->
        <div class="home-content">
            <div class="work-img background_layout">
                <%= image_tag("background.png") %>
            </div>

        </div>
        <!-- End Hero Content -->
        
        <!-- Scroll Down -->
        <div class="local-scroll">
            <a href="#portfolio" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
        </div>
        <!-- End Scroll Down -->
        
    </div>

</section>
<!-- Services Section -->

<!-- Portfolio Section -->
<section class="page-section pb-0" id="portfolio">
    <div class="relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            SHOW ME YOUR JEJU 
        </h2>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <div class="section-text align-center mb-70 mb-xs-40">
                          당신의 글재주를 , 제주의 감성으로 보내드립니다.
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <!-- Work Gallery -->
                    <div class="work-full-media mb-80 mb-xs-40">
                        
                        <ul class="clearlist work-full-slider owl-carousel">
                            <li>
                                <%=image_tag("jeju_p1.jpg")%>
                            </li>
                            <li>
                                <%=image_tag("jeju_p4.jpg")%>
                            </li>
                            <li>
                                <%=image_tag("jeju_p3.jpg")%>
                            </li>
                             <li>
                                <%=image_tag("background.png")%>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- End Work Gallery -->
                
                </div>
            </section>
    </div>
</section>
<!-- End Portfolio Section -->


<!-- Portfolio Section -->
<section class="page-section cen" id="services">
    <div class="common_container">
        <div class="mb-10">
            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                NOW JEJU
            </h2>
        </div>                 
            <!-- End Works Filter -->
                    
                    <!-- Works Grid -->
                    <ul class="works-grid work-grid-10 work-grid-gut clearfix font-alt hover-white" id="work-grid">
                        
                        <!-- Work Item (Lightbox) -->
                        <li class="work-item mix photography">
                            <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                                <div class="work-img">
                                     <%= image_tag("portfolio/projects-1.jpg") %>
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Portrait</h3>
                                    <div class="work-descr">
                                        Lightbox
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                    </ul>
                    <!-- End Works Grid -->
        </div>
</section>
            